div#header
    h1#headerText GreenSoft
    select(name="navBar" id="navigationBar")
        option(value="choose") -- Vælg --
        option(value="createBooking") Opret booking 
        option(value="editBooking") Rediger booking
        option(value="createPartner") Opret samarbejdspartnere
        option(value="editPartner") Rediger samarbejdspartnere
        option(value="salesStats") Salgsstatistik
        option(value="customers") Kundekartotek
        