block append scripts
    script(src="/script/header.js" defer)
div#header
    h1#headerText GreenSoft
    div#navigation
        if loggedIn
            select(name="navBar" id="navigationBar" onchange="navigateTo()")
                option(value="choose") -- Vælg --
                option(value="createBooking") Opret booking 
                //- option(value="editBooking") Rediger booking
                if admin
                    option(value="createPartner") Opret samarbejdspartnere
                    option(value="editPartner") Rediger samarbejdspartnere
                    //- option(value="salesStats") Salgsstatistik
                    //- option(value="customers") Kundekartotek
                    option(value="createSalesman") Opret ny sælger
                    //- option(value="editSalesman") Rediger sælger
            button.redButton.headerButton(onclick="location.href='/logout'") Log ud
        else 
            button.greenButton.headerButton(onclick="location.href='/login'") Log ind