extends layout 
block append scripts 
    script(src="/script/createSalesman.js" defer)
block append css 
    link(rel='stylesheet', href='/css/salesman.css', type='text/css' )
block content 
    h1 Opret ny sælger
    div.salesman
        div.inputRow
            label.formLabel(for="salesmanName") Navn: 
            input.formField(id="salesmanName", type="text",placeholder="Navn")
        div.inputRow
            label.formLabel(for="salesmanEmail") Email: 
            input.formField(id="salesmanEmail", type="text",placeholder="Email")
        div.inputRow
            label.formLabel(for="salesmanPhoneNr") Telefon: 
            input.formField(id="salesmanPhoneNr", type="text", placeholder="Telefon")
        div.inputRow
            label.formLabel(for="salesmanSalesId") SalesId: 
            input.formField(id="salesmanSalesId", type="text", placeholder="Brugernavn")
        div.inputRow
            label.formLabel(for="salesmanPassword") Password: 
            input.formField(id="salesmanPassword", type="password", placeholder="Password")
        button#createSalesman(class="greenButton formButton") Opret
        div.inputRow
            div#message