extends layout 
block append scripts 
    script(src="script/editPartner.js" defer)
block content 
    h1 Edit Partner
    div.Partner
        input(id="companyName", type="text",placeholder="firma navn")
        input(id="companyAddress", type="text",placeholder="adresse")
        input(id="companyEmail", type="text", placeholder="email")
        input(id="companyPhone", type="text", placeholder="tlf")
        select(id="companyType")
            option(value="") --Vælg partnertype--
            option(value="Hotel") Hotel
            option(value="Flyselskab") Flyselskab
            option(value="Billeje") Billeje
            option(value="Golfbane") Golfbane
            option(value="Transfer") Transfer
        button#updatePartner Gem ændringer