extends layout
block append scripts
    script(src="/script/frontpage.js" defer)

block append css 
    link(rel="stylesheet", href="/css/frontpage.css", type="text/css")

block content 
    img(src="/images/greensoftlogo.png", alt="Logo", id="frontPageLogo")