doctype html
html
    head
        meta(charset="UTF-8")
        title GreenSoft
        block scripts

        block css
            link(rel='stylesheet', href='css/main.css', type='text/css' )

    body
        div#root
            div#main
                include includes/header.pug
                div#content
                    block content
                include includes/footer.pug