extends layout
include salesman
block append css
    link(rel='stylesheet', href='/css/salesStats.css', type='text/css') 
    script(src='/script/showStats.js' defer)
block content
    h1 Vælg en sælger for at se personlig salgsstatistik:
    div#salesmen
        table#salesmenTable
            each salesman in salesmen
                +salesman(salesman.data().salesmanSalesId,salesman.data().salesmanName)
            tr.all(onclick=`location.href='/salesStats'`)
                td
                    label Alle
        h3 Sum Net Sales: #{netSales}
        h3 Sum Gross Sales: #{grossSales}
        h3 Sum Contribution Margin: #{conMargin}
    div#perioder 
        div
            p periode:
            label fra: 
            input(name="search" type="date" class="bookingDatePicker")
            label til: 
            input(name="search" type="date" class="bookingDatePicker")