extends layout 
block append scripts 
    script(src="/script/showPartners.js" defer)
block append css 
    link(rel='stylesheet', href='/css/showPartners.css', type='text/css' )
block content
    div.wrapper
        h1.headline Liste over samarbejdspartnere 
        div.typeSelect
            select(id="companyType")
                option(value="Alle") Alle partnere
                option(value="Hotel") Hotel
                option(value="Flyselskab") Flyselskab
                option(value="Billeje") Billeje
                option(value="Golfbane") Golfbane
                option(value="Transfer") Transfer
            button#getPartners Hent samarbejdspartnere
        div.partnerDiv
            table#partnerTable
                tr
                    th Firmanavn 
                    th Adresse 
                    th Email 
                    th Telefon

                    
