content block
  div#bookingpage
    h1 Vælg Type:
    select(name="booking" id="bookingtype")
      option(value="choose") -- Vælg --
      option(value="create") Opret
      option(value="update") Opdater
    div#updatebooking
      div#searchBookingForUpdate
        h2 Søg:
        input(name="search" type="text" placeholder="Booking" id="updateBookingSearchInput")
        button#updateBookingSearchButton