.loginOuter {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    color:darkgreen
}

.login {
    height: 200px;
    width: 400px;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login>button {
    height: 40px;
    width: 100px;
    margin-top: 10px;
}
#loginForm{
    width: 250px;
    height: 36px;
    margin-top: 25px;
    float: right;
}

.login>input {
    height: 40px;
    width: 200px;
    margin-top: 10px;
}