/* Global Styles */
h1 {
    font-family: Poppins, Roboto, "Helvetica Neue";
    font-weight: regular;
}

h2 {
    font-family: Poppins, Roboto, "Helvetica Neue";
    font-weight: italic;
}

p {
    font-family: Montserrat, Roboto, "Helvetica Neue";
}

/* Simple background setup */
#main {/*
    min-width: 1000px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;*/
    margin: 0;
    padding: 0px;
    background-color: #FEFFFE;
}
#header {
    background-color: #276954;
    margin: 0px;
    padding: 0px;
}

/* Header CSS */

/* Main CSS */

/* Main CSS - Forside */
#greensoftlogo {
    width: 340px;
    height: 350px;
    margin-bottom: 50px;
}

#frontpage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;
    margin: 90px auto;
    padding: 10px;
    position: relative;
    justify-content: space-evenly;
}

/*Global button class?*/
button.greenButton {
    background-color: #276954;
    color: #FEFFFE;
    font-size: 20px;
    border: 3px solid #276954;
    border-radius: 15px;
    font-family: Poppins, Roboto, "Helvetica Neue";
}

button:hover.greenButton {
    background-color: #FEFFFE;
    color: #276954;
    border: 3px solid #276954;
    font-size: 20px;
    border-radius: 15px;
    font-family: Poppins, Roboto, "Helvetica Neue";
}

#frontpagebuttons button {
    background-color: #276954;
    color: #FEFFFE;
    font-size: 28px;
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 25px;
    margin: 10px;
    font-family: Poppins, Roboto, "Helvetica Neue";
}

#frontpagebuttons button:hover {
    background-color: #FEFFFE;
    color: #276954;
    border: 3px solid #276954;
    font-size: 28px;
    width: 250px;
    height: 100px;
    border-radius: 25px;
    margin: 10px;
    font-family: Poppins, Roboto, "Helvetica Neue";
}

/* Main CSS - Bookingside */

#bookingpage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#bookingpage h1 {
    margin: 15px 10px 0px 20px;
}

#bookingpage select {
    margin: 15px 5px 0px 10px;
    font-family: Montserrat, Roboto, "Helvetica Neue";
    font-size: 20px;
    text-align-last: center;
}

#bookingtype {
    border: 2px solid #276954;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

#bookingtype:hover {
    border: 2px solid #276954;
    width: 200px;
    height: 50px;
    box-shadow: 3px 4px 5px #cccc;
    border-radius: 5px;
}

#bookingpagelogo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;
    margin: 50px auto;
    padding: 10px;
    position: relative;
    justify-content: space-evenly;
}

/* Create Booking */

#createbooking {
    background-color: #276954;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
    height: 525px;
    margin: 30px auto;
    padding: 10px;
    position: relative;
    justify-content: space-evenly;
    border: 2px solid #F1DABF;
    border-radius: 5px;
}

.resCard {
    background-color: #FEFFFE;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid #F1DABF;
    width: 98%;
    height: 70px;
    position: relative;
    border-radius: 50px;
    display:      block;
    margin-bottom:  auto;
    margin-top: 10px;
}

.resCard button {
    display:      block;
    margin-left:  auto;
    margin-right: 15px;
}

.resCard button:hover {
    display:      block;
    margin-left:  auto;
    margin-right: 15px;
}

.addReservationButton {
    background-color: #276954;
    color: #FEFFFE;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border: 3px solid #276954;
    border-radius: 25px;
    margin: 10px;
    padding: 0px;
    font-family: Poppins, Roboto, "Helvetica Neue";
    line-height: 47px;
    box-sizing: border-box;
    cursor: pointer;
}

.addReservationButton:hover {
    background-color: #FEFFFE;
    color: #276954;
    border: 3px solid #276954;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    font-family: Poppins, Roboto, "Helvetica Neue";
    line-height: 47px;
    box-sizing: border-box;
    cursor: pointer;
}

/* Reservation Modal CSS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.resModalContent {
    background-color: #FEFFFE;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #F1DABF;
    width: 80%; /* Could be more or less, depending on screen size */
}

.closeResModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeResModel:hover,
.closeResModel:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#reservationType {
    border: 2px solid #276954;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

#reservationType:hover {
    border: 2px solid #276954;
    width: 200px;
    height: 50px;
    box-shadow: 3px 4px 5px #cccc;
    border-radius: 5px;
}

.companyPickerDropdown {
    position: relative;
    display: inline-block;
}

.companyPickerButton {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.companyPickerButton:hover, .companyPickerButton:focus {
    background-color: #3e8e41;
}

#companyInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#companyInput:focus {
    outline: 3px solid #ddd;
}

.companyPickerDropdownContent {
    height : 200px;
    overflow-y: scroll;
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

.companyPickerDropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.companyPickerDropdownContent a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

.confirmResButton {
    background-color: #276954;
    color: #FEFFFE;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border: 3px solid #276954;
    border-radius: 25px;
    margin: 10px;
    padding: 0px;
    font-family: Poppins, Roboto, "Helvetica Neue";
    line-height: 47px;
    box-sizing: border-box;
    cursor: pointer;
}

.confirmResButton:hover {
    background-color: #FEFFFE;
    color: #276954;
    border: 3px solid #276954;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    font-family: Poppins, Roboto, "Helvetica Neue";
    line-height: 47px;
    box-sizing: border-box;
    cursor: pointer;
}


/* Resultat af Create Booking Search */

#searchResultContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;
    margin: 50px auto;
    padding: 10px;
    position: relative;
    justify-content: space-evenly;
}

#searchResultList {
    font-family: Montserrat, Roboto, "Helvetica Neue";
    font-size: 28px;
    list-style-type: none;
}

#searchResultList li {
    border: 1px solid #F1DABF;
    padding: 10px;
}

/* Update Booking */

#updateBookingSelectAndSearch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#updateBookingSelect {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align-last: center;
}

#updateBookingSelect select {
    margin: 22px 5px 0px 10px;
    font-family: Montserrat, Roboto, "Helvetica Neue";
    font-size: 20px;
    text-align-last: center;
}

#searchBookingForUpdate {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#searchBookingForUpdate h2 {
    margin: 12px 10px 0 10px;
}

#updateBookingSearchInput {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #F1DABF;
    margin: 5px;
    padding-left: 10px;
    font-size: 18px;
}

#updateBookingSearchButton {
    background-color: #276954;
    color: #FEFFFE;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    margin: 10px;
    font-family: Poppins, Roboto, "Helvetica Neue";
}

#updateBookingSearchButton:hover {
    background-color: #FEFFFE;
    color: #276954;
    border: 3px solid #276954;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    font-family: Poppins, Roboto, "Helvetica Neue";
}

#updateBooking {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;
    margin: 50px auto;
    padding: 10px;
    position: relative;
    justify-content: space-evenly;
}

#bookingDetaljer {
    font-family: Montserrat, Roboto, "Helvetica Neue";
    font-size: 28px;
    list-style-type: none;
    margin: 10px;
}

#bookingDetaljer li {
    border: 1px solid #F1DABF;
    padding: 10px;
}

#saveUpdateButton {
    background-color: #276954;
    color: #FEFFFE;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    margin: 10px;
    font-family: Poppins, Roboto, "Helvetica Neue";
}

#saveUpdateButton:hover {
    background-color: #FEFFFE;
    color: #276954;
    border: 3px solid #276954;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    margin: 10px;
    font-family: Poppins, Roboto, "Helvetica Neue";
}


/* Footer CSS */

#footer {
    background-color: #FEFFFE;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    position:absolute;
    bottom:0;
    height:60px;
    width: 100%;
    box-sizing: border-box;
}

#footer h1 {
    font-size: 12px;
}

#footerlogo {
    width: 75px;
    height: 75px;
}