
/*Input form til partner*/
.partner{
    display: flex;
    flex-direction: column;
    float:left;
}

.inputRow{
    margin-top: 10px;
    vertical-align: middle;
    height: 40px;
}

.formLabel{
    display: inline-block;
    width:100px;
    font-family: Poppins, Roboto, "Helvetica Neue";
    font-size: large;
    text-align: right;
    margin-right:10px;
}

.formField{
    width:400px;
    height:30px;
    font-family: Poppins, Roboto, "Helvetica Neue";
    font-size: large;
}

.contractField{
    width:200px;
    height:30px;
}

.formDropdown {
    border: 2px solid #276954;
    font-size: 18px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; 
    margin-bottom: 10px;
    cursor: pointer;
    text-align-last: center;
}

.formDropdown:hover {
    border: 2px solid #276954;
    font-size: 18px;
    width: 150px;
    height: 40px;
    box-shadow: 3px 4px 5px #cccc;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; 
    margin-bottom: 10px;
    cursor: pointer;
    text-align-last: center;
}

.formButton{
    width: 250px;
    height: 36px;
    margin-top: 25px;
    float: right;
}

/*Kontrakter til partner*/
div.contracts{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    height:fit-content;
    width:fit-content;
    margin-left: 50px;
}

.contractsHeader{
    grid-row: 1 / 1;
    grid-column: 1 / span 2;
    margin-top: 0px;
}

.contractsList{
    border: 2px solid #276954;
    height: 200px;
    width: 350px;
    overflow-y: scroll;
}

.wrapper {
    display: flex;
    flex-direction:column;
    float:left;
}

.contractItem{
    background-color:#FEFFFE;
    color:#276954;
    margin: 0px;
    padding: 5px 0px;
}

.contractItem > p{
    margin:0px;
}

.selected{
    background-color:#276954;
    color:#FEFFFE;
}

/*Input form kontrakter*/

.contractsForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.greenButton{
    justify-self: center;
}

#savePartner{
    grid-column: 1 / span 2;
    grid-row: 4 / 4;
}

.contractField {
    width: 250px;
    height: 30px;
    font-family: Poppins, Roboto, "Helvetica Neue";
    font-size: large;
}

.contracts button {
    height: 45px;
}